html, body {
     height: 100%;
     width: 100%;
     margin: 0px;
     padding: 0px;
     background-color: #434242;
     color: #fff;
}

/* User Icon in Navbar */
span.glyphicon-user{
   font-size: 1.2em;
}

.song-info {
    color: #fff;
}

.song-image {
    float: left;
    padding-right: 15px;
    padding-bottom: 5px;
}

.content {
    margin-top: 80px;
}

/* Login form */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  text-align: center;
 }
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.only-mobile {
    display: none;
}

    #myModal {
        top: 5%;
        outline: none;
        padding-right: 0px;
    }

    .modal-header {
        border-radius: 0px;
    }

    .modal-footer {
        border-radius: 0px;
    }

    .modal-body {
        border-radius: 0px;
    }

    .modal-content {
        border-radius: 0px;
    }

    .white {
      color: #fff;
    }

    .black {
        background-color: #111111;
        color: white;
        border-color: solid #111111 1px;
    }

    .grey {
        background-color: #434242
        color: white;
    }

    .btn-grey {
        background-color: #434242;
        color: white;
        border-color: #434242;
    }